<% title "Pages" %>
<h1>Pages</h1>

<div class="edit-list">
  <% @pages.each do |page| %>
    <%= render partial: "list_item", locals: { page: page } %>
  <% end %>
</div>

<br />

<%= link_to raw("<i class=\"icon-plus icon-white\"></i> New Page"),
	new_admin_page_path, class: "btn btn-primary" %>
