<div style="height: auto;">
  <h7>Content Preview:</h7>
  <div class="content markdown_preview"><%= markdown block.content %></div>
  <%= f.text_area :content, class: "none", :size => "30x15", :style => "330px" %>
  <div class="ace aceinit"><%= block.content %></div>
</div>
