<div class="row">
  <div class="span4">
   <%= f.label :target_page %>
   <%= f.text_field :target_page %>
  </div>
  <div class="span4">
    <%= f.label :levels %>
    <%= f.text_field :levels %>
  </div>
</div>
