<% title "Admin Dashboard" %>
<h1>Admin Dashboard</h1>

<div class="edit-list">

  <% if can? :manage, Page %>
    <div class="list-item">
      <div class="list-title"><%= link_to "Pages", admin_pages_path %></div><br />
    </div>
  <% end %>

  <% if can? :manage, Event %>
    <div class="list-item">
      <div class="list-title"><%= link_to "Events", events_path %></div><br />
    </div>
  <% end %>

  <% if can? :manage, Membership %>
    <div class="list-item">
      <div class="list-title"><%= link_to "Membership", memberships_path %></div><br />
    </div>
  <% end %>
  
  <% if false #can? :manage, Upload %>
    <div class="list-item">
      <div class="list-title"><%= link_to "Uploads", uploads_path %></div><br />
    </div>
  <% end %>

</div>
