<% title "Admin Dashboard" %>
<h1>Admin Dashboard</h1>

<p>Things you can administer:</p>
<p>
  <%= link_to "Pages", pages_path %><br />
  <%= link_to "Events", events_path %><br />
  ...and more to come soon.
</p>
