<% title "Admin Dashboard" %>
<h1>Admin Dashboard</h1>

<p>Things you can administer:</p>
<p>
  <% if can? :manage, Page %>
    <%= link_to "Pages", pages_path %><br />
  <% end %>
  <% if can? :manage, Event %>
    <%= link_to "Events", events_path %><br />
  <% end %>
  <% if can? :manage, Upload %>
    <%= link_to "Uploads (not finished, gtfo)", uploads_path %><br />
  <% end %>
  ...and more to come soon.
</p>
