* 
{
  margin: 0px;
  padding: 0px;
  border-style: none;
}

html, body
{
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}

thead
{
  background-color: #146b9d;
}

table
{
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  width: 100%;
  height: 100%;
}

h1, h2, h3, th
{
  font-family: Arial, Helvetica, sans-serif;
  color: #f1f1f1;
}

h3
{
  font-size: 40pt;
  text-align: center;
}

th
{
  width: 250px;
  max-width: 250px;
  height: 126px;
  max-height: 126px;

  border-bottom: 3px solid #f1f1f1;
}

td
{
  width: 250px;
  max-width: 250px;
  height: 311px;
  max-height: 311px;
  overflow: hidden;
  border: 3px solid #f1f1f1;
}

ul
{
  overflow: hidden;
}

li
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  text-align: center;
  margin-bottom: 5px;
}

.container
{
  //width: 100%;
  width: 1920px;
  //height: 100%;
  height: 1080px;

  background-color: #dae6ed; //ebf2f6;
  //background-color: #c9dae5;
}

.gtv-calendar-weekcol
{
  width: 182px;
  max-width: 182px;
}

.gtv-calendar-weekcol h3
{
  color: #9ab7c7;
}

.gtv-calendar-eventlist
{
  list-style-type: none;
  overflow: hidden;
}

.today
{
  background-color: #c9dae5;
  //background-color: #96b6d6;
}

