<div class="list_item">
  <%# 
    If we have a when paramater, that needs to get passed on to the
    edit view.
  %>
  <div class="list_title"><%= link_to event.name, "#{edit_event_path(event)}#{params[:when]?'?when='+params[:when]:''}" %></div>
  <div class="edit_links">
    <%= link_to 'View', events_public_show_path(event), target: "_blank" %>
    <%= link_to 'Destroy', event, class: "red super button", confirm: 'Are you sure?', method: :delete %>
  </div>
  <div class="clear"></div>
</div>

