<div class="list-item">

  <div class="list-title">
    <%= event.name %>
  </div>

  <div class="edit-links">
    <%#
      If we have a when paramater, that needs to get passed on to the
      edit view.
    %>
    <%= link_to raw("<i class=\"icon-pencil icon-white\"></i> Edit"),
      "#{edit_event_path(event)}#{params[:when]?'?when='+params[:when]:''}",
      class: "btn btn-info btn-small" %>
    <%= link_to raw("<i class=\"icon-trash icon-white\"></i> Delete"),
      event, class: "btn btn-danger btn-small", confirm: 'Are you sure?', method: :delete %>
  </div>

  <div class="clear"></div>
</div>
