<!DOCTYPE html>
<html>
<head>
  <title><%= "SSE Events for GTV " %></title>
  <%= stylesheet_link_tag    "gtv" %>
  <%= javascript_include_tag "gtv" %>
  <%= csrf_meta_tags %>
</head>

<h1> Hello World! </h1>

