<div class="title">
  <h1>Events</h1>
</div>

<% @events.each do |event| %>
  <div class="event-preview-wrapper">
    <div class="gradient-test">
      <div class="event-preview">
        <h3><%= link_to event.name, pub_show_path(event) %></h3>
        <div class="event-info">
          <%= "#{event.start_date.strftime("%A %m/%d")}, #{event.start_date.strftime("%I:%M%p")} - #{event.end_date.strftime("%I:%M%p")}" %>
        </div>
        <div class="event-description">
          <%= event.description %>
        </div>
      </div>
    </div>
  </div>
<% end %>
