<% title "Pages" %>
<h1>Pages</h1>

<div class="fat_list">
  <% @pages.each do |page| %>
    <%= render partial: "list_item", locals: { page: page } %>
  <% end %>
</div>

<br />

<%= link_to 'New Page', new_page_path, class: "medium super button" %>
