defaults: &defaults
  domain: "sofse.org"
  repository: "https://github.com/rit-sse/wtf.git"
  rake_env:
    RAILS_ENV: 'production'

staging:
  <<: *defaults
  domain: "web.sofse.org"
  deploy_to: "~/wtf"
  post_setup_script: 'script/post-setup-staging.sh'
  post_deploy_script: 'script/post-deploy.sh'

production:
  <<: *defaults
  deploy_to: "~/wtf"
  post_setup_script: 'script/post-setup-production.sh'
  post_deploy_script: 'script/post-deploy.sh'

