h1, h2, h3, p, li
{
	font-family: Arial, Helvetica, sans-serif;
}

h2
{
	font-size: 20px;
}

h3
{
}

article.event-preview ul
{
	margin-bottom: 10px;
}

	article.event-preview ul li
	{
		font-size: 14px;
		font-weight: bold;
		margin-right: 20px;
		display: inline;
	}

header.event-header
{
}
	header.event-header a
	{
		font-size: 12px;
	}

	header.content-header
	{
		margin-bottom: 15px;
	}

footer
{
	margin-top: 80px;
	height: 40px;
}

li .nav-list-start
{
	
}

li .nav-list-end
{
	margin-right: 20px;
}


/*Used to format filter information at the top of the screen*/
.filter-info
{
	font-size: 11px;
	vertical-align: top;
}

/*Formats date-time-place information for each event.*/
.event-info
{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.page-header
{
	background-image: linear-gradient(bottom, #1B4F82 27%, #216396 64%);
	background-image: -o-linear-gradient(bottom, #1B4F82 27%, #216396 64%);
	background-image: -moz-linear-gradient(bottom, #1B4F82 27%, #216396 64%);
	background-image: -webkit-linear-gradient(bottom, #1B4F82 27%, #216396 64%);
	background-image: -ms-linear-gradient(bottom, #1B4F82 27%, #216396 64%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.27, #1B4F82),
		color-stop(0.64, #216396)
	);

	margin-bottom: 15px;
}

.gradient-test
{
	padding-left: 10px;

	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.filter-content ul li
{
	border-color: #000;
	border-style: solid;
	border-width: 1px;

	text-align: center;
	color: #fff;
	font-size: 18px;

	height: 40px;
	margin-bottom: 20px;

	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

header.event-header h2
{
	margin-right: 20px;
	display: inline;
}

header.event-header a
{
	display: inline;
}

.event-preview
{
	padding-left: 10px;
	background: #fff;
}

.event-preview-wrapper
{
	margin-bottom: 20px;
}

.main-nav
{
	margin: 40px 0px;
	float: right;
}
	.main-nav ul li
	{
		display: inline;
		margin-right: 40px;
	}

