<% content_for :header do %>
	<div id="header_wrapper">
		<div id="header">

			<div id="featured">
				<div class="content">
					<h1>Hello, students.</h1>
				</div>
				<div class="content">
					<h1>We have bacon.</h1>
				</div>
				<%= image_tag "bacon.png", alt: "", data: { caption: "#bacon_caption" } %>
				<div class="content dark">
					<h1><%= image_tag "logo-white.png", alt: "" %>
				</div>
			</div>
			<span class="orbit-caption" id="bacon_caption">Bacon image &copy; 2011 Kevin Kuchta</span>

			<div class="clear"></div>

		</div>
	</div>
<% end %>


<% content_for :sidebar do %>
	<h4>Upcoming Events</h4>
	<p>
	  Lorem ipsum dolor sit amet...
	</p>

	<h4>SSE News</h4>
	<p>
	  Lorem ipsum dolor sit amet...
	</p>
<% end %>


<h1>The website is, in fact, up.</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, felis sit amet lobortis placerat, metus sem pretium magna, at placerat nibh elit et nunc. Mauris vehicula, elit sit amet porttitor congue, nibh enim volutpat eros, quis ullamcorper nulla ligula at eros. Quisque at orci dolor. Ut sit amet erat erat. Nunc vitae ipsum a neque dictum congue vel ut nisl. Vivamus ac neque id metus iaculis volutpat. Vivamus at velit in nisl feugiat ultrices. Etiam luctus commodo egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin tellus justo, varius a dictum in, aliquam sit amet tortor. Sed est eros, auctor eget interdum eu, vehicula sed eros. Phasellus vehicula tempus nulla, quis sodales lorem egestas at.
</p>
<p>
  Aliquam sollicitudin iaculis est, in sagittis nulla porttitor in. Sed nibh nunc, scelerisque fringilla ultricies at, commodo eget odio. Quisque ac mauris sapien, nec pellentesque odio. Nam at nunc eget augue consectetur faucibus. Nullam malesuada, sapien vitae dapibus ornare, dolor turpis euismod nulla, id pharetra lacus dolor vel massa. Aliquam ullamcorper interdum nisi, fermentum cursus leo suscipit in. Donec eu tellus tortor. In a odio sem, quis vulputate metus. Nullam eget elit est, nec euismod arcu. Sed auctor purus gravida velit vestibulum lobortis. Donec nec massa dui.
</p>

