<% content_for :header do %>
  <div id="header_wrapper">
    <div id="header">

      <div id="featured">
        <div class="content">
          <h1>Hello, visitors.</h1>
        </div>
        <div class="content">
          <h1>We are the SSE.</h1>
        </div>
        <div class="content">
          <h1>...and we have bacon.</h1>
        </div>
        <%= image_tag "bacon.png", alt: "", data: { caption: "#bacon_caption" } %>
        <div class="content dark">
          <h1><%= image_tag "logo-white.png", alt: "" %>
        </div>
      </div>
      <span class="orbit-caption" id="bacon_caption">Bacon image &copy; 2011 Kevin Kuchta</span>

      <div class="clear"></div>

    </div>
  </div>
<% end %>


<% content_for :sidebar do %>
  <h4>Upcoming Events</h4>
  <p>
    Hold the phone, we're updating our site.
  </p>

  <h4>SSE News</h4>
  <p>
    See above explanation.
  </p>
<% end %>


<%= markdown @page.content if @page %>

