/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *
 * Loading the CSS for all regular pages for the application below.
 *
 *= require root
 *= require admin
 *= require pages
 *= require events
 *= require styles
 *= require orbit-1.2.3
 *= require diagnostics
 *= require bootstrap.min
 *= require admin
 *= require auth
*/
