// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-preview-wrapper
{
  margin-bottom: 20px;
}

.event-preview
{
  padding-left: 10px;
  background: #fff;
}

h3 a
{
  color: black;
}

.event-info
{
  font-size: 12px;
  margin-bottom: 5px;
}

.gradient-test
{
  padding-left: 10px;
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 70%, #164172 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#164172)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#164172 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#164172 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#164172 100%); /* IE10+ */
  background: linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#164172 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#164172',GradientType=0);
}

.title
{
  margin-bottom: 20px;
}

.event-description
{

}
