<% title "Uploads" %>
<h1>Uploads</h1>

<div class="edit-list">
  <% @uploads.each do |upload| %>
    <%= render partial: "list_item", locals: { upload: upload } %>
  <% end %>
</div>

<br />

<%= link_to raw("<i class=\"icon-arrow-up icon-white\"></i> Upload New File"),
  new_upload_path, class: "btn btn-primary" %>
