<% content_for :second_header do %>
  <div class="blue" id="top_nav_wrapper">
      <div id="top_nav" class="second_header">
          <%= render_section(@page.section(:header)) %>
        </div>
      </div>
  </div>
<% end %>
<div id="content_left">
  <% @page.children.reverse_each do |child| %>
    <% if child.layout ==  BlogPost %>
      <%= render "layouts/blog_post", page: child %>
      <hr>
    <% end %>
  <% end %>
</div>
<div id="content_right">
  <%= render_section(@page.section(:sidebar)) %>
</div>
